<div id="modal2" class="modal">
    <div class="modal-content">
        <h4 id="noteId"></h4>
        <h4 id="notes"></h4>
        <input id="newNote" placeholder="New Note">
    </div>
    <div class="modal-footer">
        <a id="saveNote" class="modal-action modal-close waves-effect waves-light btn green">SAVE NOTE</a>
    </div>
</div>
<div id="navBar" class="row">
    <div class="col m3">
        <h4>Mongo Scraper</h4>
    </div>
    <div class="col m2">
        <a href="/">
            <p class="highlight">Home</p>
        </a>
    </div>
    <div class="col m2">
        <a href="/saved">
            <p>Saved Articles</p>
        </a>
    </div>
</div>
<div id="mainPage">
    <div>Mongo Scraper</div>
    <div style="font-size: 20px;">NEW YORK TIMES EDITION</div>
</div>
<div id="content" class="container">
    {{#if saved}} {{#each saved}}
    <div id="headlines" class="row">
        <div class="col m6">
            <p>{{this.headline}}</p>
        </div>
        <div class="col m3">
            <a id="note" data-id="{{this._id}}" data-noteID="{{this.note}}"class="waves-effect waves-light btn purple">Article note</a>
        </div>
        <div class="col m3">
            <a id="delete" data-id="{{this._id}}" class="waves-effect waves-light btn red ">Delete from saved</a>
        </div>
    </div>
    <div id="summary ">
        <p>{{this.summary}}</p>
    </div>
    {{/each}} {{else}}
    <h4>Uh Oh. Looks like we don't have any saved articles.</h4>
    {{/if}}
</div>